/*CSS File for a layout with one navbar, main, aside, and footer. A clone like NYTimes Articles page
Body styling */
body {
   font-family: helvetica, arial, sans-serif;
   font-size: 14px;
}

/* Nav bar styling*/
nav {
   border-bottom: 1px solid #e2e2e2;
   padding-bottom: 5px;
   display: flex;
   justify-content: space-between;
}

/*New York Times Logo image*/
nav img {
   height: 100%;
}

/*Leftmost buttons*/
.menu-btn {
   border: none;
}

/*Right buttons*/
.sign-in-btn {
   border: 1px solid #eee;
   background-color: #567695;
   border-radius: 3px;
   font-size: 11px;
   font-weight: 600;
   cursor: pointer;
   transition: ease 0.65;
   color: #fff;
   line-height: 30px;
}

/*Main seccion title*/
.title-main {
	display: grid;
	grid-template-columns: 1fr;
}

.title-main .title-hr {
	position: relative;
	padding-left: 25%;
}

h1 {
	max-width: 390px;
}

/*images in main*/
.main-media figure {
  padding-right: 12%;
  padding-left: 12%;
}
main img {
  width: 100%;
  height: 100%;
}

/*Video embedded style*/
iframe {
  width: 100%;
  height: 360px;
}

/*style in figcaption elements*/
figcaption {
  font-family: georgia, serif;
}

/*styling for Article seccion*/
.article-sec {
	display: flex;
	justify-content: center;


}

article .post{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#article-img {
	padding-right: 13%;
	padding-left: 13%;

}

hr {
	width: 100px;
	text-align: center;

	color: gray;
}
.sub-promo {
	text-align: center;
	list-style: none;
	font-weight: 800;

}

.sub-promo .ad-promo {
	color: rgb(50, 104, 145);
}

.sub-promo {
	margin-left: -40px;
}


/*Info of an element*/
.element-info {
  color: #666;
}

/*Copyright info*/
.copyright {
  color: #888;
}

/*Styling Author section*/
.name-author {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: #333;
}

a.name-author {
  color: #333;
}

a.name-author:hover {
  text-decoration: none;
}

article div p {
  font-family: georgia,'times new roman',times,serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

/* Icon styling*/
i {
  border-radius: 100%
  background-color: #eee:
  border: 1px solid;
  padding: 5px;
  width: 15px;
  height: 15px;
}

/*aside grid*/
#aside-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 280px;
}
aside {
	display:block;
	float: right;

}

/*Creates a grid for image about universe inflation*/
.wrapper {
	display: grid;
	width: 945px;
	height: 576px;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
  grid-column-gap: 3px;
  justify-content: space-between;

}

/*Inflation images takes all the grid*/

.image-grid {
	grid-column: 1/5;
	grid-row: 1/5;
	width: 945px;
	height: 576px;
}

/*Fix line-height of paragraphs*/
.wrapper p {
  line-height: normal;
}

/*Order the text on the image*/
#text1 {
	grid-column: 1/2;
	grid-row: 2/3;
	font-size: 8px;
}

#text2 {
	grid-column: 2/3;
	grid-row: 2/3;
	font-size: 8px;
}

#text2 {
	grid-column: 2/3;
	grid-row: 2/3;
	font-size: 8px;
}

#text3 {
	grid-column: 3/4;
	grid-row: 2/3;
	font-size: 8px;
}

#text4 {
	grid-column: 4/5;
	grid-row: 2/3;
	font-size: 8px;
}

#text5 {
	grid-column: 1/2;
	grid-row: 4/5;
	font-size: 8px;
}

#text6 {
	grid-column: 2/3;
	grid-row: 4/5;
	font-size: 8px;
}

#text7 {
	grid-column: 3/4;
	grid-row: 4/5;
	font-size: 8px;
}

#text8 {
	grid-column: 4/5;
	grid-row: 4/5;
	font-size: 8px;
}

.inside {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/* Info about print version*/
.prin-info {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(102, 102, 102);
}

/* Grid in Most Popular section */

.most-popular {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 40px 182px 130px);
}

/* Title in Most popular section */

.most-popular h2 {
  font-size: 0.875rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  line-height: 1.25rem;
}

.most-popular h3 {
  font-size: 1.125;
  color: rgb(18, 18, 18);
  line-height: 22px;
}

.most-popular time {
  letter-spacing: 0.3px;
  color: rgb(153, 153, 153);
}

.most-popular figcaption {
  font-size: 0.625rem;
  color: rgb(153, 153, 153);
}

.most-popular img {
  width: 273px;
  height: 182px;
}

#popular-image1 {
  grid-row: 2/3;
  grid-column: 1/2;
}
#mostpopular1 {
  grid-row: 3/4;
  grid-column: 1/2;
}

#popular-image2 {
  grid-row: 2/3;
  grid-column: 2/3;
}
#mostpopular2 {
  grid-row: 3/4;
  grid-column: 2/3;
}

#popular-image3 {
  grid-row: 2/3;
  grid-column: 3/4;
}
#mostpopular3 {
  grid-row: 3/4;
  grid-column: 3/4;
}
#popular-image4 {
  grid-row: 5/6;
  grid-column: 1/2;
}
#mostpopular4 {
  grid-row: 6/7;
  grid-column: 1/2;
}
#popular-image5 {
  grid-row: 5/6;
  grid-column: 2/3;
}
#mostpopular5 {
  grid-row: 6/7;
  grid-column: 2/3;
}
#popular-image6 {
  grid-row: 5/6;
  grid-column: 3/4;
}
#mostpopular6 {
  grid-row: 6/7;
  grid-column: 3/4;
}
#popular-image7 {
  grid-row: 8/9;
  grid-column: 1/2;
}
#mostpopular7 {
  grid-row: 9/10;
  grid-column: 1/2;
}
#popular-image8 {
  grid-row: 8/9;
  grid-column: 2/3;
}
#mostpopular8 {
  grid-row: 9/10;
  grid-column: 2/3;
}
#popular-image9 {
  grid-row: 8/9;
  grid-column: 3/4;
}
#mostpopular9 {
  grid-row: 9/10;
  grid-column: 3/4;
}
#popular-picks {
  grid-row: 7/8;
  grid-column: 1/2;
}