/*CSS File for a layout with one navbar, main, aside, and footer. A clone like NYTimes Articles page
Body styling */
body {
   font-family: helvetica, arial, sans-serif;
   font-size: 14px;
}

/* Nav bar styling*/
nav {
   border-bottom: 1px solid #e2e2e2;
   padding-bottom: 5px;
   display: flex;
   justify-content: space-between;
}

/*New York Times Logo image*/
nav img {
   height: 100%;
}

/*Leftmost buttons*/
.menu-btn {
   border: none;
}

/*Right buttons*/
.sign-in-btn {
   border: 1px solid #eee;
   background-color: #567695;
   border-radius: 3px;
   font-size: 11px;
   font-weight: 600;
   cursor: pointer;
   transition: ease 0.65;
   color: #fff;
   line-height: 30px;
}

/*Main seccion title*/
.title-main {
	display: grid;
	grid-template-columns: 1fr;
}

.title-main .title-hr {
	position: relative;
	padding-left: 25%;
}

h1 {
	max-width: 390px;
}

/*images in main*/
figure {
  padding-right: 12%;
  padding-left: 12%;
}
main img {
  width: 100%;
  height: 100%;
}

/*Video embedded style*/
iframe {
  margin: 43px auto;
}

/*style in figcaption elements*/
figcaption {
  font-family: georgia, serif;
}

/*styling for Article seccion*/
article {
	display: flex;
	justify-content: center;
	

}

article div {
	max-width: 600px;
}


/*Info of an element*/
.element-info {
  color: #666;
}

/*Copyright info*/
.copyright {
  color: #888;
}

/*Styling Author section*/
.name-author {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: #333;
}

a.name-author {
  color: #333;
}

a.name-author:hover {
  text-decoration: none;
}

article div p {
  font-family: georgia,'times new roman',times,serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

/* Icon styling*/
i {
  border-radius: 100%
  background-color: #eee:
  border: 1px solid;
  padding: 5px;
  width: 15px;
  height: 15px;
}

/*aside grid*/
#aside-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 280px;
}
aside {
	display:block;
	float: right;
	
}


